.register--container {
    margin-top: 40px;
}

.register--container form {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.register--already-registered {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

