/* ---- Général -------------------------------------------------- */

.user {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.user div {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.user label {
    margin-bottom: 5px;
}

.user button {
    display: flex;
    justify-content: center;
    border: black 1px solid;
    border-radius: 10px 10px;
    color: white;
    background-color: var(--caput-mortuum);
	font-family: var(--font-title);
	font-size: var(--font-size-text);
    text-align: center;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 8px;
    text-transform: uppercase;
}

.user button:hover {
    background-color: var(--xanadu);
}

.user button:active {
    background-color: var(--xanadu);
    text-decoration: underline;
}

.user--information {
    padding-top: 30px;
}

.user--password-update, .user--authentification, .user--logout, .user--delete {
    padding-top: 30px;
}

.user--authentification button, .user--logout button, .user--delete button {
    margin-top: 25px;
}

.user--delete button {
    background-color: red;
}

.user--delete {
    margin-bottom: 40px;
}
