@import url(components/burger.css);
@import url(components/wine-card.css);
@import url(auth/login.css);
@import url(auth/register.css);
@import url(bottle/index.css);
@import url(bottle/show.css);
@import url(cellar/create.css);
@import url(cellar/edit.css);
@import url(cellar/index.css);
@import url(cellar/show.css);

:root {

    /* Palette de couleurs */

    --rich-black: #161B1F;
    --caput-mortuum: #58181F;
    --mint-cream: #F2F7F2;
    --xanadu: #607466;

    /* Typographie */

    --font-title: 'Montserrat', sans-serif;
    --font-subtitle: 'Roboto Condensed', sans-serif;
    --font-text: 'Martel', serif;
    --font-size-title: 1.77em;
    --font-size-subtitle: 1.33em;
    --font-size-text: 1em;

}

/* Général ----------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--font-title);
    font-size: var(--font-size-title);
}

h2 {
    font-family: var(--font-subtitle);
    font-size: var(--font-size-subtitle);
}

h3, h4, h5, h6 {
    font-family: var(--font-subtitle);
}

p {
    font-family: var(--font-text);
    font-size: var(--font-size-text);
}

.button {
    background-color: var(--caput-mortuum);
    text-align: center;
}

.button:active {
    background-color: var(--xanadu);
}
