.modal--wrap {
	margin-left: 36px;
	position: absolute;
	transform: translateY(300px);
}

.modal--wrap > svg {
	stroke: black;
	stroke-width: 5;
	width: 50px;
	display: inline;
}

.modal-form { 
	
}

.form--hidden {
	display: none;
}