/* CSS du components research */

.research > .filters--search-bar {
	background-color: var(--caput-mortuum);
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.research > .filters--search-bar > input {
	width: 90%;
	height: 70%;
	border-radius: 10px;
	text-indent: 4ch;
}

.research--empty {
    padding: 15px;
}
