/* Fiche détail d'une bouteille de la SAQ */

.bottle-detail {
	background-color: white;
	margin-bottom: 30px;
	max-width: 600px;
	display: flex;
	flex-direction: column;
}

.bottle-detail > .img-wrap {
	width: 100%;
	display:flex;
	justify-content: flex-end;
	margin-top: 0;
}

.bottle-detail > .img-wrap > img {
	width: 264px;
	z-index: 2;
}


.bottle-detail > svg {
	width: 55px;
	margin-left: 36px;
	position: absolute;
	transform: translateY(64px);

	z-index: 3;
}

.bottle-detail > .icon-rouge {
	fill: #9B0E27;
}
.bottle-detail > .icon-blanc {
	fill: #ECE09D;
}
.bottle-detail > .icon-rosé {
	fill: #FFB9B9;
}

.bottle-detail > .detail--info > h1 {
	font-size: 26px;
	margin: 0px 36px 0 36px;
}


.bg--color {
	background-color: var(--mint-cream);
	width: 100vw;
	padding: 15px 36px 15px 36px;
}

.wrap--quantity {
	position: absolute;
	transform: translateY(120px);
	vertical-align: center;
}

.wrap--quantity > div {
	display: flex;
	align-items: center;
}

.number--quantity {
	font-family: var(--font-subtitle);
	font-size: 50px;
}

.button--add {
	fill: #58181F;
	margin-left: 5vw;
}

.container--info {
	display:flex;
	flex-direction: column;
	height: fit-content;
}

.container--info > div {
	display: flex;
	justify-content: space-between;
}

.bottle-detail > .button {
	display: flex;
	color: var(--mint-cream);
	align-items: center;
	justify-content: center;
	width: 127px;
	height: 55px;
	border-radius: 14px;
	margin-top: 20px;
	margin-left: 36px;
}

.bottle-detail > .button > svg {
	margin-right: 5px;
	fill: var(--mint-cream);
}


